################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/__pycache__
/app/__pycache__
/infrastructure/__pycache__
/presentation/__pycache__
/presentation/__pycache__ (2)
